---
# Flatpak And GUI Softwares
# flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
# flatpak update
- name: Add the flathub flatpak repository remote to the user installation
  become: yes
  flatpak_remote:
    name: flathub
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    state: present
- name: Install Adwaita-dark Theme
  become: yes
  flatpak:
    name: org.gtk.Gtk3theme.Adwaita-dark
    remote: flathub
    state: present
- name: Install Tilix Terminal
  become: yes
  flatpak:
    name: com.gexperts.Tilix
    remote: fedora
    state: present
- name: Install Spotify
  become: yes
  flatpak:
    name: com.spotify.Client
    remote: flathub
    state: present
- name: Install Slack
  become: yes
  flatpak:
    name: com.slack.Slack
    remote: flathub
    state: present
- name: Install Gnome Extensions
  become: yes
  flatpak:
    name: org.gnome.Extensions
    remote: flathub
    state: present
- name: Install KeePassXC
  become: yes
  flatpak:
    name: org.keepassxc.KeePassXC
    remote: flathub
    state: present